{% extends 'users/base.html' %}
{% load static %}
{% block main %}
    <link rel="stylesheet" href="{% static 'css/autorization.css'%}">
    {% if messages or form.non_field_errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 50px;">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% else %}
                {{ form.non_field_errors }}
            {% endif %}
            <strong>ERROR:</strong> Something went wrong.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12"> <!-- Увеличили ширину поля ввода -->
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Login</h2>
                        <form action="{% url 'users:autorization' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">Username</label>
                                <input type="text" name="username" class="form-control" id="id_username">
                                <i class="bx bxs-user-circle"></i>
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password</label>
                                <input type="password" name="password" class="form-control" id="id_password">
                                <i class="bx bxs-lock"></i>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Log in</button>
                        </form>
                        <div class="text-center mt-3">
                            <p>Don't have an account? <a href="{% url 'users:registration' %}">Register here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}