selector {
    background-image: url("https://www.funnyart.club/uploads/posts/2021-12/1639520432_75-www-funnyart-club-p-odnotonnie-foni-dlya-prezentatsii-75.jpg");
  }
h1{
    background-color: red;
    width: 50%;
}
