<!-- templates/editor.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quill Editor</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div id="editor"></div>
    <button id="save-btn">Save</button>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var quill = new Quill('#editor', {
                theme: 'snow'
            });

            $('#save-btn').click(function() {
                var html_content = $('#editor .ql-editor').html();
                $.ajax({
                    type: 'POST',
                    url: '{% url "save_document" %}',
                    data: {
                        'html_content': html_content
                    },
                    success: function(response) {
                        alert('Document saved successfully!');
                    },
                    error: function(xhr, status, error) {
                        alert('Error saving document: ' + error);
                    }
                });
            });
        });
    </script>
</body>
</html>
