{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Files</title>
    <script>
    
    function debounce(func, delay) {
        let timer;
        return function() {
            const context = this;
            const args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function() {
                func.apply(context, args);
            }, delay);
        };
    }

    function autoSubmitForm1() {
        document.getElementById('filter1').submit();
    }

    function autoSubmitForm2() {
        document.getElementById('filter2').submit();
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('#filter1 input, #filter1 select').forEach(function(element) {
            element.addEventListener('change', debounce(autoSubmitForm1, 300));
        });

        document.querySelectorAll('#filter2 input, #filter2 select').forEach(function(element) {
            element.addEventListener('change', debounce(autoSubmitForm2, 300));
        });
    });
</script> 
</head>
<body>
    <h1>Your Files</h1>

    <!-- Отображение сообщений -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Форма для загрузки новых файлов -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload File</button>
    </form>

    <!-- Список собственных файлов с возможностью скачивания и удаления -->
    <h2>Ваши файлы</h2>
    <form id="filter1" method="get", action="{% url 'users:user_files' %}">
        {% with form_prefix='first' %}
            {{ first_filter.form.as_p }}
        {% endwith %}
    </form>
    
    <ul>
        {% for file in first_filter.qs %}
            {% if file.user == request.user %}
                <li> <a href="{% url 'users:view_own_file' file.pk %}">{{ file.name }}</a> (Published: {{ file.uploaded_at|date:"Y-m-d H:i:s"}})</li>
            {% endif %}
        {% empty %}
            <li>No file found.</li>
        {% endfor %}
    </ul>

    <!-- Список файлов других пользователей с возможностью скачивания -->
    <h2>Файлы других пользователей</h2>
    <form id="filter2" method="get", action="{% url 'users:user_files' %}">
        {% with form_prefix='second' %}
            {{ second_filter.form.as_p }}
        {% endwith %}
    </form>
    <ul>
        {% for file in second_filter.qs %}
            {% if file.user != request.user %}
                <li> <a href="{% url 'users:view_foreign_file' file.pk %}">{{ file.name }}</a> From {{ file.user.username }} (Published: {{ file.uploaded_at|date:"Y-m-d H:i:s"}})</li>
            {% endif %}
        {% empty %}
            <li>No file found.</li>
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function() {
            $('.django-select2').djangoSelect2();
        });
    </script>
</body>
</html>
