{% extends 'users/base.html' %}

{% block main %}
  <h1>{{ user_file.name }}</h1>
  <a href="{{ user_file.file.url }}" target="_blank">Открыть файл</a>

  {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
  {% endif %}


  <h2>Комментарии</h2>
  <ul>
    {% for comment in comments %}
      <li>
        <strong>{{ comment.user.username }}</strong> ({{ comment.created_at }}):<br>
        {{ comment.text }}
      </li>
    {% empty %}
      <li>Комментариев нет.</li>
    {% endfor %}
  </ul>

  <h2>Добавить комментарий</h2>
  <form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Добавить комментарий</button>
  </form>
{% endblock %}
